body{
    margin: 0%;
    padding: 0%;
    width: 400px;
    color: #777;
}

button {
  border-radius: 6px;
  border: 1px solid #777;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s ease;
  
}

.title{  
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}
.TodoList{
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 6px;
    margin: 6px;
    padding: 0%;
}

.inputArea{
    background-color:rgb(192, 218, 218);
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:6px;
}

.incompleteTodos{
min-height: 200px;
border-radius: 8px;
margin-top:8px ;
border: 1px solid #309da5;
}

.completeTodos{
    margin-top: 8px;
background-color: rgb(192, 218, 218);
min-height: 200px;
border-radius: 8px;
border: 1px solid #309da5;
}

.todoItem{
    margin: 0px;
}